.footer__column-link {
    display: block;
    margin: 0;
    padding: 2px 0;
    text-decoration: none;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    color: white;
    transition: 300ms;
  }
  
  .footer__column-link:hover {
    opacity: 0.5;
    transition: 300ms;
  }