.header__link {
    color: #2f80ed;
    text-decoration: none;
    transition: 500ms;
  }
  
  .header__link:hover {
    opacity: 0.5;
    transition: 500ms;
  }
  
  .header__link::after {
    content: " \2192";
  }